/ant.browsetask
/ant.debugger
/ant.freeform
/ant.grammar
/ant.kit
/api.annotations.common
/api.debugger
/api.debugger.jpda
/api.java
/api.java.classpath
/api.mobility
/api.progress
/api.search
/apisupport.ant
/apisupport.apidocs
/apisupport.crudsample
/apisupport.feedreader
/apisupport.harness
/apisupport.installer
/apisupport.installer.maven
/apisupport.kit
/apisupport.osgidemo
/apisupport.paintapp
/apisupport.project
/apisupport.refactoring
/apisupport.restsample
/apisupport.wizards
/api.visual
/api.web.webmodule
/api.xml
/applemenu
/autoupdate.cli
/autoupdate.pluginimporter
/autoupdate.services
/autoupdate.ui
/beans
/bugtracking
/bugtracking.bridge
/bugtracking.kenai
/bugzilla
/bugzilla.exceptionreporter
/c.atlassian.connector.eclipse.commons.core
/c.atlassian.connector.eclipse.jira.core
/c.jcraft.jsch
/c.jcraft.jzlib
/classfile
/clearcase
/cloud.amazon
/cloud.common
/cloud.oracle
/cnd
/cnd.antlr
/cnd.api.model
/cnd.api.project
/cnd.api.remote
/cnd.apt
/cnd.asm
/cnd.callgraph
/cnd.classview
/cnd.cncppunit
/cnd.completion
/cnd.debugger.common
/cnd.debugger.common2
/cnd.debugger.dbx
/cnd.debugger.gdb
/cnd.debugger.gdb2
/cnd.discovery
/cnd.dwarfdiscovery
/cnd.dwarfdump
/cnd.editor
/cnd.folding
/cnd.gotodeclaration
/cnd.highlight
/cnd.indexing
/cnd.kit
/cnd.lexer
/cnd.litemodel
/cnd.makeproject
/cnd.makeproject.source.bridge
/cnd.modeldiscovery
/cnd.modelimpl
/cnd.model.services
/cnd.modelui
/cnd.modelutil
/cnd.navigation
/cnd.qnavigator
/cnd.refactoring
/cnd.remote
/cnd.remote.projectui
/cnd.repository
/cnd.repository.api
/cnd.script
/cnd.search
/cnd.simpleunit
/cnd.source
/cnd.spellchecker.bindings
/cnd.testrunner
/cnd.toolchain
/cnd.utils
/code.analysis
/coherence
/collab.channel.chat
/collab.channel.chat.html
/collab.channel.chat.java
/collab.channel.chat.text
/collab.channel.chat.xml
/collab.channel.filesharing
/collab.channel.output
/collab.kit
/collab.provider.im
/collab.ui
/cordova
/cordova.platforms
/cordova.platforms.android
/cordova.platforms.ios
/core.browser
/core.browser.webview
/core.browser.webview.jfxplatformbridge
/core.execution
/core.ide
/core.io.ui
/core.kit
/core.multiview
/core.nativeaccess
/core.netigso
/core.osgi
/core.output2
/core.startup
/core.ui
/core.windows
/c.s.collablet
/c.s.collablet.moxc
/csl.api
/c.s.mail.javax.mail
/css.visual
/db
/dbapi
/db.core
/db.dataview
/db.drivers
/db.kit
/db.metadata.model
/db.mysql
/db.mysql.sakila
/dbschema
/db.sql.editor
/db.sql.visualeditor
/debugger.jpda
/debugger.jpda.ant
/debugger.jpda.heapwalk
/debugger.jpda.kit
/debugger.jpda.projects
/debugger.jpda.ui
/debugger.jpda.visual
/defaults
/deployment.deviceanywhere
/deployment.wm
/derby
/diff
/dlight.kit
/dlight.libs.common
/dlight.nativeexecution
/dlight.remote
/dlight.remote.impl
/dlight.terminal
/dlight.util
/editor
/editor.actions
/editor.bookmarks
/editor.bracesmatching
/editor.breadcrumbs
/editor.codetemplates
/editor.completion
/editor.deprecated.pre65formatting
/editor.errorstripe
/editor.errorstripe.api
/editor.fold
/editor.global.format
/editor.guards
/editor.indent
/editor.indent.project
/editor.kit
/editor.lib
/editor.lib2
/editor.macros
/editor.mimelookup
/editor.mimelookup.impl
/editor.plain
/editor.plain.lib
/editor.search
/editor.settings
/editor.settings.storage
/editor.structure
/editor.util
/el.lexer
/extbrowser
/extexecution
/extexecution.impl
/favorites
/findbugs
/findbugs.installer
/form
/form.binding
/form.j2ee
/form.kit
/form.nb
/form.refactoring
/git
/glassfish.cloud
/glassfish.common
/glassfish.eecommon
/glassfish.javaee
/gototest
/groovy.antproject
/groovy.editor
/groovy.grails
/groovy.grailsproject
/groovy.gsp
/groovy.kit
/groovy.refactoring
/groovy.samples
/groovy.support
/gsf.codecoverage
/gsf.testrunner
/hibernate
/hibernatelib
/hibernateweb
/html
/html.editor
/html.editor.lib
/html.lexer
/html.navigator
/html.parser
/html.validation
/httpserver
/hudson
/hudson.ant
/hudson.git
/hudson.maven
/hudson.mercurial
/hudson.php
/hudson.subversion
/hudson.tasklist
/i18n
/i18n.form
/ide
/ide.branding
/ide.branding.kit
/ide.ergonomics
/ide.kit
/identity.ant
/identity.kit
/identity.profile.api
/identity.profile.ui
/identity.samples
/identity.server.manager
/image
/installer
/j2ee.ant
/j2ee.api.ejbmodule
/j2eeapis
/j2ee.archive
/j2ee.clientproject
/j2ee.common
/j2ee.core
/j2ee.core.utilities
/j2ee.dd
/j2ee.ddloaders
/j2ee.dd.webservice
/j2ee.earproject
/j2ee.eclipselink
/j2ee.eclipselinkmodelgen
/j2ee.ejbcore
/j2ee.ejbjarproject
/j2ee.ejbrefactoring
/j2ee.ejbverification
/j2ee.genericserver
/j2ee.jboss4
/j2ee.jpa.refactoring
/j2ee.jpa.verification
/j2ee.kit
/j2ee.metadata
/j2ee.metadata.model.support
/j2ee.persistence
/j2ee.persistenceapi
/j2ee.persistence.kit
/j2ee.platform
/j2ee.samples
/j2eeserver
/j2ee.sun.appsrv
/j2ee.sun.appsrv81
/j2ee.sun.dd
/j2ee.sun.ddui
/j2ee.toplinklib
/j2ee.weblogic9
/j2ee.websphere6
/j2me.cdc.kit
/j2me.cdc.platform
/j2me.cdc.platform.bdj
/j2me.cdc.platform.nokias80
/j2me.cdc.platform.nsicom
/j2me.cdc.platform.ojec
/j2me.cdc.platform.ricoh
/j2me.cdc.platform.semc
/j2me.cdc.platform.sjmc
/j2me.cdc.platform.sun
/j2me.cdc.project
/j2me.cdc.project.bdj
/j2me.cdc.project.execui
/j2me.cdc.project.execuiimpl
/j2me.cdc.project.nokiaS80
/j2me.cdc.project.nsicom
/j2me.cdc.project.ojec
/j2me.cdc.project.ricoh
/j2me.cdc.project.savaje
/j2me.cdc.project.semc
/j2me.cdc.project.sjmc
/java.api.common
/javacard.apdufile
/javacard.apdu.io
/javacard.common
/javacard.console
/javacard.filemodels
/javacard.kit
/javacard.oberthur
/javacard.platform.ui
/javacard.project
/javacard.ri.bundle
/javacard.ri.platform
/javacard.spi
/java.debug
/javadoc
/java.editor
/java.editor.lib
/javaee.api
/javaee.beanvalidation
/javaee.specs.support
/java.examples
/java.freeform
/javafx2.editor
/javafx2.kit
/javafx2.platform
/javafx2.project
/javafx2.samples
/javafx2.scenebuilder
/java.guards
/javahelp
/java.helpset
/java.hints
/java.hints.declarative
/java.hints.declarative.test
/java.hints.legacy.spi
/java.hints.test
/java.hints.ui
/java.j2seplatform
/java.j2seproject
/java.kit
/java.lexer
/java.navigation
/java.platform
/java.preprocessorbridge
/java.project
/javascript2.editor
/javascript2.kit
/javascript.editing
/javascript.hints
/javascript.jstestdriver
/javascript.kit
/javascript.refactoring
/java.source
/java.source.ant
/java.source.queries
/java.source.queriesimpl
/java.sourceui
/java.testrunner
/javawebstart
/javax.servlet
/javax.wsdl
/javax.xml.rpc
/javax.xml.soap
/jconsole
/jellytools.cnd
/jellytools.enterprise
/jellytools.ide
/jellytools.java
/jellytools.platform
/jemmy
/jira
/jmx
/jmx.common
/jsp.lexer
/jumpto
/junit
/junitlib
/kenai
/kenai.maven
/kenai.ui
/keyring
/keyring.impl
/keyring.jps
/languages
/languages.apacheconf
/languages.diff
/languages.ini
/languages.manifest
/languages.neon
/languages.refactoring
/languages.yaml
/lexer
/lexer.nbbridge
/lib.cvsclient
/lib.nbjavac
/lib.profiler
/lib.profiler.charts
/lib.profiler.common
/lib.profiler.ui
/libs.aguiswinglayout
/libs.amazon
/libs.antlr3.devel
/libs.antlr3.runtime
/libs.bytelist
/libs.cglib
/libs.commons_fileupload
/libs.commons_net
/libs.djnsswt
/libs.djnsswt.gtklinuxx64
/libs.djnsswt.gtklinuxx86
/libs.djnsswt.macosxx64
/libs.djnsswt.win32x64
/libs.djnsswt.win32x86
/libs.elimpl
/libs.felix
/libs.findbugs
/libs.freemarker
/libs.git
/libs.glassfish_logging
/libs.glassfish.sdk
/libs.ini4j
/libs.javacapi
/libs.javacimpl
/libs.javacup
/libs.jaxb
/libs.jing
/libs.jna
/libs.json_simple
/libs.jsr223
/libs.jstestdriver
/libs.junit4
/libs.jvyamlb
/libs.lucene
/libs.nashorn
/libs.nbi.ant
/libs.nbi.engine
/libs.oracle.cloud
/libs.osgi
/libs.ppawtlayout
/libs.smack
/libs.springframework
/libs.svnClientAdapter
/libs.svnClientAdapter.javahl
/libs.svnClientAdapter.svnkit
/libs.swingx
/libs.testng
/libs.wag
/libs.xerces
/libs.xmlbeans
/lib.terminalemulator
/lib.uihandler
/loadgenerator
/localhistory
/masterfs
/masterfs.linux
/masterfs.macosx
/masterfs.solaris
/masterfs.windows
/maven
/maven.apisupport
/maven.checkstyle
/maven.coverage
/maven.embedder
/maven.grammar
/maven.graph
/maven.groovy
/maven.hints
/maven.indexer
/maven.j2ee
/maven.jaxws
/maven.junit
/maven.kit
/maven.model
/maven.osgi
/maven.persistence
/maven.profiler
/maven.refactoring
/maven.repository
/maven.samples
/maven.search
/maven.spring
/mercurial
/mercurial.search
/mobility.antext
/mobility.cldcplatform
/mobility.cldcplatform.catalog
/mobility.databindingme
/mobility.deployment.ftpscp
/mobility.deployment.nokia
/mobility.deployment.ricoh
/mobility.deployment.sonyericsson
/mobility.deployment.webdav
/mobility.editor
/mobility.end2end
/mobility.j2meunit
/mobility.javahelp
/mobility.jsr172
/mobility.kit
/mobility.licensing
/mobility.midpexamples
/mobility.plugins.mpowerplayer
/mobility.proguard
/mobility.project
/mobility.project.ant
/mobility.project.bridge
/mobility.project.bridge.impl
/mobility.svgcore
/mobility.wtk_win
/mvd
/mylyn.util
/nbbuild
/nbi
/nbjunit
/netbinox
/netserver
/o.apache.axis
/o.apache.commons.codec
/o.apache.commons.discovery
/o.apache.commons.httpclient
/o.apache.commons.io
/o.apache.commons.lang
/o.apache.commons.logging
/o.apache.jmeter.kit
/o.apache.jmeter.module
/o.apache.tools.ant.module
/o.apache.tools.ant.module.docs
/o.apache.ws.commons.util
/o.apache.xml.resolver
/o.apache.xmlrpc
/o.eclipse.core.contenttype
/o.eclipse.core.jobs
/o.eclipse.core.net
/o.eclipse.core.runtime
/o.eclipse.core.runtime.compatibility.auth
/o.eclipse.equinox.app
/o.eclipse.equinox.common
/o.eclipse.equinox.preferences
/o.eclipse.equinox.registry
/o.eclipse.equinox.security
/o.eclipse.jgit
/o.eclipse.mylyn.bugzilla.core
/o.eclipse.mylyn.commons.core
/o.eclipse.mylyn.commons.net
/o.eclipse.mylyn.commons.repositories.core
/o.eclipse.mylyn.commons.soap
/o.eclipse.mylyn.commons.xmlrpc
/o.eclipse.mylyn.monitor.ui.dummy
/o.eclipse.mylyn.tasks.core
/o.jdesktop.beansbinding
/o.jdesktop.layout
/o.n.bluej
/o.n.bluej.ui
/o.n.bootstrap
/o.n.core
/o.n.insane
/o.n.mobility.lib.activesync
/o.n.swing.dirchooser
/o.n.swing.outline
/o.n.swing.plaf
/o.n.swing.tabcontrol
/o.n.upgrader
/o.openidex.util
/openide.actions
/openide.awt
/openide.compat
/openide.dialogs
/openide.execution
/openide.explorer
/openide.filesystems
/openide.io
/openide.loaders
/openide.modules
/openide.nodes
/openide.options
/openide.text
/openide.util
/openide.util.enumerations
/openide.util.lookup
/openide.windows
/options.api
/options.editor
/options.java
/options.keymap
/parsing.api
/parsing.lucene
/parsing.ui
/performance
/php.api.annotation
/php.api.documentation
/php.api.editor
/php.api.executable
/php.api.framework
/php.apigen
/php.api.phpmodule
/php.composer
/php.dbgp
/php.doctrine2
/php.editor
/php.help
/php.kit
/php.phpdoc
/php.phpdoc.documentation
/php.project
/php.refactoring
/php.samples
/php.smarty
/php.symfony
/php.symfony2
/php.twig
/php.zend
/php.zend2
/print
/print.editor
/profiler
/profiler.api
/profiler.attach
/profiler.categorization.api
/profiler.drilldown
/profiler.freeform
/profiler.heapwalker
/profiler.j2ee
/profiler.j2se
/profiler.kit
/profiler.loadgen
/profiler.nbimpl
/profiler.nbmodule
/profiler.options
/profiler.oql
/profiler.oql.language
/profiler.ppoints
/profiler.projectsupport
/profiler.selector.api
/profiler.selector.ui
/profiler.snaptracer
/profiler.stp
/profiler.utilities
/progress.ui
/project.ant
/projectapi
/projectimport.eclipse.core
/projectimport.eclipse.j2se
/projectimport.eclipse.web
/projectimport.jbuilder
/project.indexingbridge
/project.libraries
/projectui
/projectuiapi
/projectui.buildmenu
/properties
/properties.based.dataobjects
/properties.syntax
/queries
/refactoring.api
/refactoring.java
/remotefs.versioning
/sampler
/schema2beans
/sendopts
/server
/servletapi
/servletjspapi
/settings
/simple.project.templates
/spellchecker
/spellchecker.apimodule
/spellchecker.bindings.htmlxml
/spellchecker.bindings.java
/spellchecker.bindings.properties
/spellchecker.dictionary_en
/spellchecker.kit
/spi.actions
/spi.debugger.ui
/spi.editor.hints
/spi.java.hints
/spi.navigator
/spi.palette
/spi.quicksearch
/spi.tasklist
/spi.viewmodel
/spring.beans
/spring.webmvc
/subversion
/svg.perseus
/swingapp
/swingapplib
/swing.customizerlayout
/swing.validation
/target.iterator
/tasklist.kit
/tasklist.projectint
/tasklist.todo
/tasklist.ui
/tasks.ui
/team.kit
/team.ui
/terminal
/testng
/testng.ant
/testng.maven
/timers
/tomcat5
/uihandler
/uihandler.exceptionreporter
/uihandler.interactive
/updatecenters
/usersguide
/utilities
/utilities.project
/versioning
/versioning.core
/versioning.indexingbridge
/versioning.kenai
/versioning.masterfs
/versioning.system.cvss
/versioning.system.cvss.installer
/versioning.ui
/versioning.util
/vmd.analyzer
/vmd.codegen
/vmd.components.midp
/vmd.components.midp.pda
/vmd.components.midp.wma
/vmd.componentssupport
/vmd.components.svg
/vmd.examples
/vmd.flow
/vmd.game
/vmd.inspector
/vmd.io
/vmd.io.javame
/vmd.kit
/vmd.midp
/vmd.midp.converter
/vmd.midpnb
/vmd.model
/vmd.palette
/vmd.properties
/vmd.screen
/vmd.structure
/web.beans
/web.browser.api
/web.client.kit
/web.clientproject
/web.clientproject.api
/web.clientproject.helpset
/web.client.rest
/web.client.samples
/web.common
/web.core
/web.core.syntax
/web.debug
/web.domdiff
/web.el
/web.examples
/web.facelets010114
/web.fake
/web.freeform
/web.helpset
/web.indent
/web.inspect
/web.javascript.debugger
/web.jsf
/web.jsf12
/web.jsf12ri
/web.jsf20
/web.jsfapi
/web.jsf.editor
/web.jsf.extensions
/web.jsf.icefaces
/web.jsf.kit
/web.jsf.navigation
/web.jsf.richfaces
/web.jspparser
/web.jstl11
/web.kit
/web.livehtml
/web.monitor
/web.primefaces
/web.project
/web.refactoring
/web.struts
/websvc.axis2
/websvc.clientapi
/websvc.core
/websvc.customization
/websvc.design
/websvc.editor.hints
/websvc.jaxrpc
/websvc.jaxrpc16
/websvc.jaxrpckit
/websvc.jaxws21
/websvc.jaxws21api
/websvc.jaxwsapi
/websvc.jaxws.lightapi
/websvc.jaxwsmodel
/websvc.jaxwsmodelapi
/websvc.kit
/websvc.manager
/websvc.metro.lib
/websvc.metro.model
/websvc.metro.samples
/websvc.owsm
/websvc.projectapi
/websvc.registry
/websvc.rest
/websvc.restapi
/websvc.restkit
/websvc.restlib
/websvc.rest.samples
/websvc.rest.wadl.design
/websvc.rest.wadl.model
/websvc.saas.api
/websvc.saas.codegen
/websvc.saas.codegen.j2ee
/websvc.saas.codegen.java
/websvc.saas.codegen.php
/websvc.saas.kit
/websvc.saas.services.amazon
/websvc.saas.services.delicious
/websvc.saas.services.flickr
/websvc.saas.services.google
/websvc.saas.services.strikeiron
/websvc.saas.services.twitter
/websvc.saas.services.weatherbug
/websvc.saas.services.yahoo
/websvc.saas.services.youtube
/websvc.saas.services.zillow
/websvc.saas.services.zvents
/websvc.saas.ui
/websvc.utilities
/websvc.websvcapi
/websvc.wsitconf
/websvc.wsitmodelext
/websvc.wsstackapi
/web.webkit.debugging
/welcome
/whitelist
/xml
/xml.axi
/xml.catalog
/xml.core
/xml.jaxb
/xml.jaxb.api
/xml.lexer
/xml.multiview
/xml.retriever
/xml.schema.completion
/xml.schema.model
/xml.tax
/xml.text
/xml.tools
/xml.tools.java
/xml.wsdl.model
/xml.xam
/xml.xdm
/xsl
